*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:#fff;
padding-bottom:80px;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#131c2e;
}

.logo-box{
display:flex;
align-items:center;
gap:10px;
}

.logo{
width:60px;
height:60px;
border-radius:12px;
}

.logo-box h1{
font-size:30px;
font-weight:700;
}

.logo-box p{
font-size:15px;
color:#ccc;
}

.social{
display:flex;
gap:10px;
}

.social a{
width:48px;
height:48px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
font-size:24px;
color:#fff;
text-decoration:none;
}

.social a:first-child{
background:#229ED9;
}

.social a:last-child{
background:#25D366;
}

.search-box{
display:flex;
padding:15px;
gap:10px;
}

.search-box input{
flex:1;
height:55px;
border:none;
border-radius:12px;
padding:0 15px;
font-size:18px;
background:#1d293d;
color:#fff;
}

.search-box button{
width:60px;
border:none;
border-radius:12px;
background:#00c853;
color:#fff;
font-size:22px;
}

.title{
font-size:32px;
font-weight:700;
padding:10px 15px;
}

.top3{
display:flex;
justify-content:center;
gap:10px;
padding:10px 15px;
}

.games-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
padding:10px 15px;
}

.game-card{
background:#1d293d;
border-radius:12px;
overflow:hidden;
}

.game-card img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
display:block;
}

.game-info{
padding:8px;
text-align:center;
}

.game-info h3{
font-size:14px;
margin-bottom:5px;
}

.game-info p{
font-size:11px;
margin:3px 0;
color:#ddd;
}

.download-btn{
display:block;
background:#00c853;
color:#fff;
text-decoration:none;
padding:10px;
margin-top:8px;
border-radius:10px;
font-weight:700;
}

.bottom-nav{
position:fixed;
left:0;
bottom:0;
width:100%;
background:#131c2e;
display:flex;
justify-content:space-around;
padding:10px 0;
}

.bottom-nav a{
color:#fff;
text-decoration:none;
display:flex;
flex-direction:column;
align-items:center;
font-size:13px;
}

.bottom-nav i{
font-size:22px;
margin-bottom:5px;
}
